.ae-dropdown-toggle i {
  display: inline-block !important;
  font-size: 18px !important;
  color: #fff !important;
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 99999 !important;
}


.ae-multi-obj.ae-dropdown-obj {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: transparent;
}

.ae-multi-obj.ae-dropdown-obj .ae-dropdown-toggle i::before {
  content: "🌐";
  font-size: 18px;
}

.ae-desctop-parent-search i::before,
.ae-desctop-parent-account i::before,
.ae-desctop-parent-cart i::before,
.ae-multi-obj.ae-dropdown-obj i::before {
  color: #fff;
  transition: color 0.3s ease;
}

header.scrolled .ae-desctop-parent-search i::before,
header.scrolled .ae-desctop-parent-account i::before,
header.scrolled .ae-desctop-parent-cart i::before,
header.scrolled .ae-multi-obj.ae-dropdown-obj i::before {
  color: #000;
}