<div class="lola">
    <div class="column-lola image-column-lola">
        <img src="/storage/src/opu-c5b3ed-18/18/68f792f477aff.png" alt="Max8">
    </div>

    <div class="column-lola text-column-lola">
        <p>Max8</p>
        <h1>Le streetwear parisien : une mode actuelle, libre et assurée.</h1>
    </div>
    <img src="/storage/src/opu-c5b3ed-18/18/68f7944c63c67.png" alt="Max8" class="bottom-image-lola">
</div>

<div class="lola">
    <div class="column-lola text-column-lola-2">
        <div class="container-lola">
            <p>
                Max8 incarne l’esprit du streetwear contemporain. Inspirée par la rue et la culture urbaine,
                la marque propose un vestiaire à la fois décontracté et affirmé,
                pensé pour les hommes qui recherchent confort et style au quotidien.
            </p>
        </div>
    </div>

    <div class="column-lola image-column-lola">
        <img src="/storage/src/opu-c5b3ed-18/18/68f79bf3255c1.png" alt="Max8">
    </div>
    <img src="/storage/src/opu-c5b3ed-18/18/68f7944c63c67.png" alt="Max8" class="bottom-image-lola">
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@700&?family=Afacad:wght@400;700&display=swap');

    .lola {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        padding: 40px;
        gap: 40px;
        position: relative;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .column-lola {
        flex: 1;
        text-align: center;
        position: relative;
    }

    .image-column-lola img {
        width: 274px;
        height: auto;
    }

    .text-column-lola {
        margin-right: 100px;
    }

    .text-column-lola p {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
        color:black
    }

    .text-column-lola h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .text-column-lola-2 p {
        font-family: 'Afacad', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.6;
        padding: 20px;
        text-align: justify; 
        color:black  
    }

    .lola .bottom-image-lola {
        position: absolute;
        bottom: 0;      
        right: 0;       
        width: 44px;
        height: 36px;
        object-fit: contain; 
    }

    .container-lola {
        background-color: rgba(244, 240, 240, 1);
        width: 165px;
        height: 465px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 200px;
        margin-right: auto;
    }

</style>